import COLORS from .App {
  text-align: center;
}

.heroSection {
  background-color: var(--offWhite);
  height: 90vh;
}
.secondHeroSection {
  background-color: var(--pink);
  height: 90vh;
}

/* first hero section */
.nameContainer {
  display: flex;
  flex-direction: row;
}
.pinkHeaderText {
  color: var(--pink);
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
}

.blueHeaderText {
  color: var(--blue);
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
  margin-left: 10px;
}
